.wrapper {
  height: 100%;
  padding: 15px 15px 0;
}

.title {
  font-size: 28px;
  color: rgb(5, 72, 144);
  margin-bottom: 50px;
}
.container {
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
