.sidebar {
  grid-area: sidebar;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(to right, #d5dfff, 20%, #fff);
  box-shadow: 5px 0px 10px -4px rgb(4, 84, 15);
}

.menu {
  padding-top: 15px;
}

.menuItems {
  padding: 0 16px;

  & .menuItem {
    font-size: 34px;
    color: #484848;
    line-height: 140%;
    transition: all 0.3s ease;

    &:hover {
      color: rgba(0, 0, 255, 0.8);
    }
  }

  & > li > a {
    display: block;
    padding: 0 10px;
    border-radius: 10px;
  }
}

.active {
  background: linear-gradient(to left, #d5dfff, 10%, #fff);
  box-shadow: -3px 4px 6px -1px rgba(4, 84, 15, 0.5);
  transition: all 0.3s ease;
}
