// Обертка (Арр)
.wrapper {
  margin: 0 auto;
  padding: 10px 10px 0px;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
