// Обертка (Арр)
.wrapper {
  margin: 0 auto;
  padding: 10px 10px 0px;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header header'
    'sidebar main';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

// Шапка
.header {
  grid-area: header;
  border-radius: 10px;
  background: linear-gradient(#d5dfff, #fff);
  box-shadow: 0 5px 10px -4px rgb(4, 84, 15);

  &__logo {
    margin-left: 16px;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
  }

  &__logo img {
    width: 100%;
  }
}

// боковое меню
.sidebar {
  grid-area: sidebar;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(to right, #d5dfff, 20%, #fff);
  box-shadow: 5px 0px 10px -4px rgb(4, 84, 15);
}

.menu {
  padding-top: 15px;

  &__item {
    font-size: 34px;
    color: #484848;
    line-height: 140%;
    transition: all 0.3s ease;

    &:hover {
      color: blue;
    }
  }

  &__item_link {
    display: block;
    padding: 0 16px;
  }
}

// Основная часть
.main {
  grid-area: main;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  background: linear-gradient(to left, #d5dfff, 20%, #fff);
  box-shadow: 5px 0px 10px -4px rgb(4, 84, 15);
}

// Контент страницы
.content {
  height: 100%;

  &__header {
    height: 224px;
  }

  &__header img {
    height: 100%;
    width: 100%;
  }
}
